accelerate==0.25.0
addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.2
annotated-types==0.6.0
bitsandbytes==0.42.0
click==8.1.7
colorlog==6.8.0
contourpy==1.2.1
cramjam==2.8.3
crcmod==1.7
cryptography==42.0.5
cycler==0.12.1
datasets==2.15.0
datasketch==1.6.4
dill==0.3.7
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.7.0
evaluate==0.4.2
fastapi==0.109.1
fastparquet==2023.10.1
filelock==3.13.4
fire==0.5.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
hpack==4.0.0
huggingface-hub==0.22.2
jieba==0.42.1
jmespath==0.10.0
joblib==1.4.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
modelscope==1.11.1
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.15
networkx==3.3
nltk==3.8.1
numpy==1.26.2
OpenCC==0.2
opencc-python-reimplemented==0.1.7
oss2==2.18.4
pandas==2.1.4
peft==0.6.2
pillow==10.3.0
protobuf==4.25.3
psutil==5.9.6
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycryptodome==3.20.0
pydantic==2.5.2
pydantic_core==2.14.5
pyparsing==3.1.2
pytorch-ranger==0.1.1
rich==13.7.0
safetensors==0.4.1
scipy==1.13.0
sentencepiece==0.1.99
sentry-sdk==2.1.1
setproctitle==1.3.3
shtab==1.7.1
simplejson==3.19.2
smmap==5.0.1
sortedcontainers==2.4.0
starlette==0.35.1
sympy==1.12
tensorboardX==2.6.2.2
termcolor==2.4.0
tokenizers==0.15.0
torch==2.1.1
torch-optimizer==0.3.0
tqdm==4.66.1
transformers==4.36.0
trl==0.8.6
tyro==0.8.3
tzdata==2024.1
ujson==5.8.0
uvicorn==0.24.0.post1
wandb==0.17.0
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4